.App-header {
  max-width: 500px;
  margin: 80px auto;
  border: 5px solid #dadde1;
  padding: 20px;
  border-radius: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
